@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1224px;
    margin: 0 auto;
}

@import 'base/variables';
@import 'base/titles';

@import 'blocks/sidepanel';
@import 'base/grid';
@import 'blocks/promo';
@import 'base/buttons';