.promo {
    background: url('../img/1st/Group9.jpg') center (center/cover) no-repeat;
    padding-bottom: 50px;
    .promo__nav {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .nav__logo {
            padding-top: 36px;
            cursor: pointer;
        }
        .menu {
            padding-top: 26px;
            .menu__wrapper {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                .menu__item-wrapper {
                    padding: 10px 20px;
                }
                .menu__item {
                    padding-top: 10px;
                    font-size: 13px;
                    text-transform: uppercase;
                    width: 120%;
                    height: 120%;
                    background-color: transparent;
                    border-radius: 6px;
                    text-align: center;
                    transition: 0.8s;
                    
                }
                .menu__item-active {
                    width: 120%;
                    height: 120%;
                    background-color: $secondary-color;
                    border-radius: 6px;
                    text-align: center;
                    transition: 0.8s;
                    .menu__link {
                        color: #ffffff;
                    }
                }
                .menu__link {
                    color: $secondary-color;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .promo__content {
        margin-top: 125px;
    }
    
    .promo__btns {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        width: 575px;
    }
}

