@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: 'Roboto', sans-serif; }

.container {
  width: 1224px;
  margin: 0 auto; }

h1 {
  padding-top: 15px;
  font-size: 70px;
  line-height: 70px; }

.title__upper {
  padding-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: left; }

.title__descr {
  padding-top: 36px;
  font-size: 18px;
  color: #455A74; }

.page__title {
  padding-top: 15px;
  font-size: 70px;
  line-height: 70px; }

.title__upper_center {
  padding-top: 5px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center; }

.page__title_center {
  padding-top: 5px;
  font-size: 70px;
  line-height: 70px;
  text-align: center; }

.sidepanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 196px;
  left: 24px;
  position: fixed;
  z-index: 3; }
  .sidepanel .sidepanel__link {
    margin-bottom: 30px; }
    .sidepanel .sidepanel__link:hover {
      cursor: pointer; }

.page__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 60px; }
  .page__grid .page__grid-left {
    margin: 0 auto; }
  .page__grid .page__grid-right {
    margin: 0 auto; }

.promo {
  background: url("../img/1st/1stbg.jpg") center center/cover no-repeat; }
  .promo .promo__nav {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .promo .promo__nav .nav__logo {
      padding-top: 36px;
      cursor: pointer; }
    .promo .promo__nav .menu {
      padding-top: 26px; }
      .promo .promo__nav .menu .menu__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        list-style-type: none; }
        .promo .promo__nav .menu .menu__wrapper .menu__item-wrapper {
          padding: 10px 20px; }
        .promo .promo__nav .menu .menu__wrapper .menu__item {
          padding-top: 10px;
          font-size: 13px;
          text-transform: uppercase;
          width: 120%;
          height: 120%;
          background-color: transparent;
          border-radius: 6px;
          text-align: center;
          -webkit-transition: 0.8s;
          transition: 0.8s; }
        .promo .promo__nav .menu .menu__wrapper .menu__item-active {
          width: 120%;
          height: 120%;
          background-color: #455A74;
          border-radius: 6px;
          text-align: center;
          -webkit-transition: 0.8s;
          transition: 0.8s; }
          .promo .promo__nav .menu .menu__wrapper .menu__item-active .menu__link {
            color: #ffffff; }
        .promo .promo__nav .menu .menu__wrapper .menu__link {
          color: #455A74; }
          .promo .promo__nav .menu .menu__wrapper .menu__link:hover {
            text-decoration: none; }
  .promo .promo__content {
    margin-top: 125px; }
  .promo .promo__btns {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 575px; }

.btn {
  height: 58px;
  width: 260px;
  border-radius: 6px;
  background-color: transparent;
  border-color: #455A74;
  text-transform: uppercase; }
  .btn .btn_content {
    margin: 0 10px;
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .btn_active {
    background-color: #1673FF;
    border: transparent; }
  .btn svg {
    fill: #ffffff; }

.Whyblank {
  padding-top: 80px; }
  .Whyblank .line_vertical {
    width: 5px;
    height: 80px;
    background-color: #0A121E; }

.blankdoes .line_vertical_2 {
  width: 5px;
  height: 80px;
  background-color: #0A121E;
  position: relative; }
.blankdoes .line_horizontal {
  height: 7px;
  width: 13%;
  background-color: #0A121E;
  position: relative; }
.blankdoes .line_arrow_up {
  height: 10px;
  width: 30px;
  position: relative;
  left: 114px;
  background-color: #0A121E;
  -webkit-transform: skewY(-140deg);
          transform: skewY(-140deg);
  top: -22px; }
.blankdoes .line_arrow_down {
  height: 10px;
  width: 30px;
  position: relative;
  left: 114px;
  background-color: #0A121E;
  -webkit-transform: skewY(140deg);
          transform: skewY(140deg);
  top: -7px; }
.blankdoes .titles__wrapper {
  position: relative;
  top: -90px; }
.blankdoes .blankdoes__advantages {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 60px;
  margin: 0 auto; }
.blankdoes .advantage__item {
  height: 440px; }
.blankdoes .advantage__item_1 {
  background: url("../img/3rd/item1bg.png") no-repeat; }
.blankdoes .advantage__item_2 {
  background: url("../img/3rd/item2bg.png") no-repeat; }
.blankdoes .advantage__item_3 {
  background: url("../img/3rd/item3bg.png") no-repeat; }
.blankdoes .advantage__item_wrapper {
  padding-top: 65px;
  padding-bottom: 90px;
  text-align: center;
  width: 270px;
  margin: 0 auto; }
  .blankdoes .advantage__item_wrapper .advantage__item_title {
    padding-top: 35px;
    font-size: 20px; }
  .blankdoes .advantage__item_wrapper .advantage__item_descr {
    padding-top: 22px;
    font-size: 16px;
    color: #455A74; }

/*# sourceMappingURL=style.css.map */